.milkdown {
  flex: 1;
}

.editor {
  height: 100%;
  outline: none;

  padding: 1.25rem;

  padding-top: 0rem;
  padding-bottom: 2rem;
}

.milkdown .editor {
  font-size: var(--text-base);
  font-family: var(--font-sans);
  line-height: var(--text-sm--line-height);

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    overflow-wrap: anywhere;
  }

  & ul {
    list-style-type: disc;
    padding-left: 1.7em;
  }

  & ol {
    list-style-type: decimal;
    padding-left: 2.5em;
  }

  & li {
    overflow-wrap: anywhere;
  }

  & hr {
    margin: 0.8rem 0rem;
  }

  & img {
    max-height: 300px;
    width: auto;
  }

  & p:has(> img:not(:only-child)) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-start;
  }

  & p:has(> img:not(:only-child)) img {
    flex: 0 1 auto;
  }
}
